POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DATABASE=backpack
PGADMIN_EMAIL=tobiaspetrasch@googlemail.com
PGADMIN_PASSWORD=test1234
